<div class="portfolio-modal modal fade" id="{{ printf "%s" .Title }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ .Title }}</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                        {{ $project := .Title }}
                        <div>
                          <article>
                            {{ .Content }}
                          </article>
                        </div>
                        <ul>
                        {{ range .Site.Pages }}
                          {{ if in .Params.projects $project }}
                          {{ .Render "li" }}
                          {{end}}
                        {{end}}
                      </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
