<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>My name is Raghav Narula, I'm 29 years old and currently studying my fourth and final year towards my masters degree in Computer Science at City, University of London.</p>
            </div>
            <div class="col-lg-4">
                <p>I have a strong theoretical background in Computer Science. I work regularly in Java, C++, Python and Scala. I also have a strong interest in computational modelling and applying Machine Learning Algorithms such as SVMs and Neural Nets.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>
        </div>
    </div>
</section>
